.nav {
  padding: 1rem 4rem;
  display: flex;
  justify-content: space-between;
  border-radius: 100rem;
  align-items: center;
  box-shadow: 0 2px 6px rgba(45, 59, 67, 0.271);
}

.tools {
  display: flex;
  gap: 0 2.5rem;
}

.tools_box {
  display: flex;
  align-items: center;
  gap: 0 5px;

  padding: .7rem 1.6rem;
  border-radius: 10rem;
  transition: background-color .2s ease-in-out;
}

.tools_box:hover {
  cursor: pointer;
  background-color: #e9ecef;
}

.tools__revenue {
  padding: .7rem 1.6rem;
  border-radius: 10rem;
  color: #fff;
  background-color: #000;
}

.tools__revenue:hover {
  cursor: pointer;
  background-color: #000;
}
.menu {
  display: flex;
  gap: 0 1.5rem;
  align-items: center;
}

.menu__group {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0 1.5rem;
  padding: .65rem 1.4rem .65rem .6rem;
  border-radius: 10rem;
  background-color: #e9ecef;
}

.menu__group_text {
  background-image: linear-gradient(90deg, #5C6670 0%, #131316 100%);
  color: #fff;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}